{erl_opts, [debug_info]}.

{deps,[
]}.

%% == Cover ==

{cover_enabled, true}.

%% == Profiles ==

{profiles, [
  {test, [
    {deps, [
      {katana_test, "0.1.1"},
      {mixer, "0.1.5", {pkg, inaka_mixer}}
    ]}
  ]}
]}.

{pre_hooks,
  [{compile, "make -C c_src ../priv/emarkdown.so"}]}.
{post_hooks,
  [{clean, "make -C c_src clean"}]}.
